.env
*.csv
/static_root
/auto_configs
/__pycache__

*/__pycache__/*
/data/players.json
*.pyc
data/*
env/*
pyvenv.cfg
static/admin/*
static/debug_toolbar/*
static/favicon.ico

.vscode/
node_modules/
scratch.txt
todo.txt
TODO2.txt