{% extends 'base.html' %}
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}

{% bootstrap_messages %}

<div class='container'>
	<div class=''>
		<a class='hover:text-blue-500' href='{% url "rules:list" %}'>Go back to Rules</a>
		<span> | </span>
		<a class='hover:text-blue-500' href='{% url "rules:update" rule.pk %}'>Update Rule</a>
		<span> | </span>
		<a class='hover:text-blue-500' href='{% url "rules:delete" rule.pk %}'>Delete Rule</a>
	<div>
	<ul>
		{{ rule.name }}
	</ul>
</div>

{% endblock %}
