.draft-board-slot {
    font-size: 9pt;
    border: solid lightgoldenrodyellow 1px;
}
.available-player {
    display: flex;
    margin: auto;
    justify-content: left;
    color: black;
    text-align: center;
    width: 100%;
    height: 25px;
    vertical-align: middle;
    border: 1px solid #dddddd;
}


.available-player-header > td:nth-child(1) {
    text-align: left;
    margin-left: 0px;
    width: 100%;
}

/* .available-player-header > td:nth-child(2) {
    text-align: center;
    margin-left: 0px;
    width: 60px;
}

.available-player-header > td:nth-child(3) {
    text-align: center;
    margin-left: 0px;
    width: 30px;
}

.available-player-header > td:nth-child(4) {
    text-align: center;
    margin-left: 0px;
    width: 160px;
} */


.drafted-player {
    color: grey;
    background-color: black;
}
.draft-slot {
    border: 1px solid #dddddd;
    text-align: center;
    vertical-align: middle;
    /* width: 8%; */
    height: 25px;
}
.position-WR {
    background-color: green;
    color: white;
}
.position-RB {
    background-color: blue;
    color: white;
}
.position-QB {
    background-color: red;
    color: white;
}
.position-TE {
    background-color: burlywood;
    color: black;
}
.position-DEF {
    background-color: black;
    color: grey;
}
.pick-selected {
    background-color: darkcyan;
    color: white;
}

.proj-drafted {
    background-color: skyblue;
}
.proj-budgeted {
    background-color: burlywood;
}

.drafted-list {
    border: solid 1px grey;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.draft-drag-over {
    background-color: aquamarine;
}

.dragging {
    height: 20px;
    width: 20px;
    opacity: 0.33;
}

.draft-action {
    display: flex;
    border: solid 1px black;
    background-color: aliceblue;
    min-width: 20px;
}
.draft-action:active {
    background-color: orange;
}

.draft-action span {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.draft-attr {
    display: flex;
    border: solid 1px black;
    background-color: aliceblue;
    min-width: 20px;
    max-width: 20px;
    width: 20px;
    margin: auto;
    text-align: center;
}
.draft-attr:active {
    background-color: orange;
}

.draft-attr span {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.star-icon {
    color: brown;
}

.draft-player-header-container {
    display: flex;
}

.draft-player-header {
    justify-content: center !important;
    margin: auto;
}
