{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block extra_css %}
    <link rel='stylesheet' href="{% static 'css/draftboard.css' %}">
{% endblock %}

{% block extra_script %}
    <script src="{% static 'js/draftboard.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            startDraftBoard();
        });
    </script>
{% endblock %}

{% block content %}

{% bootstrap_messages %}
<div class='draft-container'>
    {% csrf_token %}
    <div class="col-xs-12 draft-board">
        <table class="table col-xs-12">
            <tbody>
                <tr class="row">
                {% for manager in managers %}
                    <td class='text-center'>{{manager.short_name}}</td>
                {% endfor %}
                </tr>
                <tr class="row">
                {% for manager in managers %}
                    <td class='text-center' id="manager-budget-{{manager.id}}">{{manager.budget}}</td>
                {% endfor %}
                </tr>
            </tbody>
            <tbody class="draftboard">
                {% for round_dict in draftboard %}
                    <tr class="row">
                        {% for num, slot_list in round_dict.items %}
                            {% for slot_dict in slot_list %}
                                <td 
                                id="draft-board-player-{{slot_dict.pick.player.id}}" 
                                roundid="{{slot_dict.round_num}}" columnid="{{slot_dict.column_num}}" 
                                managerId="{{slot_dict.manager.id}}" 
                                class='text-center draft-board-slot position-{{slot_dict.pick.player.position}}'>
                                {{slot_dict.pick.player.name}} (${{slot_dict.pick.price}})
                            </td>
                            {% endfor %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-xs-3 sidebar">
        <table class="sidebar">
            <tbody class="available-player-list">
                
                <thead>
                    <tr><th class="text-center" colspan="3"><span class="btn-info">AVAILABLE PLAYERS</span></th></tr>
                    <th>Player</th>
                    <th>Pos</th>
                    <th>Proj</th>
                </thead>
                {% for pick in picks_by_adp %}
                    <tr class="available-player" id="available-player-{{pick.player.id}}" draft_id="{{draft.id}}" player_id="{{pick.player.id}}" position="{{pick.player.position}}" 
                        proj-price="{% if pick.player.override_price %}{{pick.player.override_price}}{% else %}{{pick.player.projected_price}}{% endif %}" 
                        url="{% url 'draft:draft_player' draft.id pick.player.id %}" 
                        style="{% if pick.drafted %}display: none;{% endif %}">
                        <td class="draft-slot available-player position-{{pick.player.position}} available-name"  onclick="handlePickClick(this, 'draft')" style="cursor: pointer;"  >{{ pick.player.name }}</td>
                        <td class="text-center" onclick="handlePickClick(this, 'draft')" style="cursor: pointer;" >&check;</td>
                        <td class="text-center" style="cursor: pointer;" onclick="handlePickClick(this, 'watch')">&#128065;</td>
                        <td class="text-center" style="cursor: pointer;" onclick="handlePickClick(this, 'budget')">&#36;&nbsp;&nbsp;</td>
                        <td class="text-center available-price">{% if pick.player.override_price %}{{pick.player.override_price|floatformat:0}}{% else %}{{pick.player.projected_price|floatformat:0}}{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
    <div class="col-xs-3 sidebar">
        <table class="drafted-list">
            <thead>
                <tr><th class="text-center" colspan="3"><span class="btn-info">ALL DRAFTED</span></th></tr>
                <th>Player</th>
                <th>Pos</th>
                <th></th>
                <th>Act $</th>
            </thead>
            {% for pick in picks_by_time %}
                <!-- <tr onclick="window.location.href='{% url 'draft:undraft_player' draft.id pick.player.id %}'"> -->
                <tr id="drafted-player-{{pick.player.id}}" class="drafted-player" player_id="{{ pick.player.id }}" manager-id="{{ pick.manager.id }}" onclick="handlePickClick('undraft')"
                    style="{% if not pick.drafted %}display: none;{% endif %}">
                    <td player_id="{{ pick.player.id }}">{{ pick.player.name }}</td>
                    <td>{{ pick.player.position }}</td>
                    <td class="text-danger text-center" style="cursor: pointer;" onclick="handlePickClick(this, 'undraft');">&#10006;</td>
                    <td class="pick-price">{{ pick.price }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-xs-3 sidebar">
        <table id="watch-list">
            <tbody>
                <tr>
                    <tr><th class="text-center" colspan="3"><span class="btn-info">WATCHLIST</span></th></tr>
                    <th colspan="2">Watchlist</th>
                    <th >{{watch_total}}</th>
                </tr>
                {% for player in watched_players %}
                    <tr player_id="{{ player.id }}">
                        <td class="watch-slot watched-player" player_id="{{player.id}}" draft_id={{draft.id}}>{{player.name}}</td>
                        <td class="text-danger text-center" style="cursor: pointer;" onclick="handlePickClick(this, 'unwatch');">&#10006;</td>
                        <td class="watch-slot" draft_id={{draft.id}}>{{player.projected_price}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-xs-3 sidebar">
        <table>
            <tbody class="target-my-team">
                <thead>
                    <tr><th class="text-center" colspan="3"><btn id="save-budget" class="btn-success">Save Budget</btn></th></tr>
                    <tr><th class="text-left" colspan="2">Budget Start:</th><th class="text-center start-budget">200</th></th></tr>
                    <tr><th class="text-left" colspan="2">Budget Remaining:</th><th class="text-center projected-budget">{{projected_remaining}}</th></th></tr>
                    <tr>
                        <th>Player</th>
                        <th>Slot</th>
                        <th>Projected $</th>
                    </tr>
                </thead>
                    {% for slot, pdict in position_budget_slots.items %}
                        <tr id="projected-slot-{{slot}}" class="projected-slot {% if pdict.source == 'drafted' %}proj-drafted{% elif pdict.source == 'budgeted' %}proj-budgeted{% endif %}">
                            <td class="projected-pos">{{slot}}</td>
                            <td class="projected-name text-left">{% if pdict.pick %}{{ pdict.pick.player.name }}{% else %}Unassigned{% endif %}</td>
                            <td class="projected-spend text-right">{{ pdict.pick.price|default:"-"}}</td>
                        </tr>
                    {% endfor %}
            </tbody>
            <tbody class="my-team">
                <thead>
                    <tr><th class="text-center" colspan="3"><span class="btn-warning">MY TEAM</span></th></tr>
                    <th>Player</th>
                    <th>Position</th>
                    <th>Actual $</th>
                </thead>
                {% for pick in drafter_players %}
                    <tr class="my-drafted-player" player_id="{{pick.player.id}}">
                        <td player_id="{{pick.player.id}}">{{ pick.player.name }}</td>
                        <td>{{ pick.player.position }}</td>
                        <td>{{ pick.price }}</td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
    <div class="col-xs-12 position-slot-options">
        <table class="table col-xs-12">
            <tr><th class="text-center" colspan="10"><btn id="save-position-slots" class="btn-success">Save Slots</btn></th></tr>
            <tr class="position_options" position_options_id="0"><td class="pos_slot">QB1</td></tr>
            <tr class="position_options" position_options_id="1"><td class="pos_slot">RB1</td></tr>
            <tr class="position_options" position_options_id="2"><td class="pos_slot">RB2</td></tr>
            <tr class="position_options" position_options_id="3"><td class="pos_slot">WR1</td></tr>
            <tr class="position_options" position_options_id="4"><td class="pos_slot">WR1</td></tr>
            <tr class="position_options" position_options_id="5"><td class="pos_slot">FLEX1</td></tr>
            <tr class="position_options" position_options_id="6"><td class="pos_slot">FLEX2</td></tr>
            <tr class="position_options" position_options_id="7"><td class="pos_slot">TE1</td></tr>
            <tr class="position_options" position_options_id="8"><td class="pos_slot">DEF1</td></tr>
            <tr class="position_options" position_options_id="9"><td class="pos_slot">BENCH1</td></tr>
            <tr class="position_options" position_options_id="10"><td class="pos_slot">BENCH2</td></tr>
            <tr class="position_options" position_options_id="11"><td class="pos_slot">BENCH3</td></tr>
            <tr class="position_options" position_options_id="12"><td class="pos_slot">BENCH4</td></tr>
            <tr class="position_options" position_options_id="13"><td class="pos_slot">BENCH5</td></tr>
            <tr class="position_options" position_options_id="14"><td class="pos_slot">BENCH6</td></tr>
            <tr class="position_options" position_options_id="15"><td class="pos_slot">BENCH7</td></tr>
        </table>
    </div>
</div>

<div id="draft_player_modal" class="modal fade" tabindex="-1" role="dialog" aria-labeledby="">
    <div class="modal-dialog" role="document" style="width: 400px: margin-top: 225px">
        <div class="modal-content">
            <div class="modal-body">
                <div class="panel panel-default" style="margin-top: 10px">
                    <div class="panel-heading">
                        <big>Draft Player</big>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="id_draft_current_manager">Manager</label>
                            <select id="id_draft_current_manager" class="form-control selectpicker"  data-live-search="true" data-live-search-style="startsWith" current_manager_name="">
                                {% for manager in draft.managers.all %}
                                    <option manager_id="{{manager.id}}">{{manager.short_name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="id_current_price">Price</label><input id="id_current_price" class="form-control" current_price=""></input>
                        </div>
                        <div class="form-group" style="display: none">
                            <label for="id_current_position">Position</label><input id="id_current_position" class="form-control" current_position=""></input>
                        </div>

                        <div class="form-group">
                            <select id="id_draft_player_position" class="form-control selectpicker"  data-live-search="true" data-live-search-style="startsWith">
                                <option draft_slot_id="unassigned">Unassigned</option>
                                {% for draft_slot in team_draft_slots %}
                                    <option draft_slot_id="{{draft_slot.0}}">{{draft_slot.1}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="text-center" style="margin-top: 40px;">
                            <button class="btn btn-default" onclick="cancelDraftPick()">Cancel</button>
                            <button id='menu-control-draft' class="btn btn-primary menu-control" onclick="submitDraftPick()">Draft!</button>
                            <button id='menu-control-undraft' class="btn btn-primary menu-control" onclick="submitUndraftPick()">Undraft</button>
                            <button id='menu-control-watch' class="btn btn-primary menu-control" onclick="submitWatch()">Watch</button>
                        </div>
                        <div class="text-center" style="margin-top: 10px;">
                            <button id='menu-control-budget' class="btn btn-primary menu-control" onclick="submitBudgetPick()">Add to Projected Team</button>
                            <button id='menu-control-slot' class="btn btn-primary menu-control" onclick="addToPositionSlot(false, null, 'draft')">Add to Position Slot</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="undraft_player_modal" class="modal fade" tabindex="-1" role="dialog" aria-labeledby="">
    <div class="modal-dialog" role="document" style="width: 400px: margin-top: 225px">
        <div class="modal-content">
            <div class="modal-body">
                <div class="panel panel-default" style="margin-top: 10px">
                    <div class="panel-heading">
                        <big>Undraft Player</big>
                    </div>
                    <div class="panel-body">
                        <div class="text-center" style="margin-top: 40px;">
                            <button class="btn btn-default" onclick="cancelUndraftPick()">Cancel</button>
                            <button class="btn btn-primary" onclick="submitUndraftPlayer()">Undraft</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="unwatch_player_modal" class="modal fade" tabindex="-1" role="dialog" aria-labeledby="">
    <div class="modal-dialog" role="document" style="width: 400px: margin-top: 225px">
        <div class="modal-content">
            <div class="modal-body">
                <div class="panel panel-default" style="margin-top: 10px">
                    <div class="panel-heading">
                        <big>Unwatch Player</big>
                    </div>
                    <div class="panel-body">
                        <div class="text-center" style="margin-top: 40px;">
                            <button class="btn btn-default" onclick="cancelUnwatchPick()">Cancel</button>
                            <button class="btn btn-info" onclick="submitUnwatchPlayer()">Unwatch</button>
                            <button class="btn btn-primary" onclick="submitUndraftPlayer()">Undraft</button>
                        </div>
                        <div class="form-group">
                            <select id="id_unwatch_current_position" class="form-control selectpicker"  data-live-search="true" data-live-search-style="startsWith">
                                <option draft_slot_id="unassigned">Unassigned</option>
                                {% for draft_slot in team_draft_slots %}
                                    <option draft_slot_id="{{draft_slot.0}}">{{draft_slot.1}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="text-center" style="margin-top: 10px;">
                            <button class="btn btn-primary" onclick="addToProjectedTeam(false, null, 'unwatch')">Add to Projected Team</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="save_projected_team_modal" class="modal fade" tabindex="-1" role="dialog" aria-labeledby="">
    <div class="modal-dialog" role="document" style="width: 400px: margin-top: 225px">
        <div class="modal-content">
            <div class="modal-body">
                <div class="panel panel-default" style="margin-top: 10px">
                    <div class="panel-heading">
                        <big>Save Projected Team</big>
                    </div>
                    <div class="panel-body">
                        <div class="text-center" style="margin-top: 40px;">
                            <button class="btn btn-default" onclick="cancelProjectedTeam()">Cancel</button>
                            <button class="btn btn-primary" onclick="submitProjectedTeam()">Save Team</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="id_current_draft" style="display:none;" current_draft_name="{{draft.draft_name}}" current_draft_id="{{draft.id}}"></div>
<div id="id_current_player" style="display:none;" current_player_id=""></div>
<div id="id_drafter" style="display:none;" drafter_id="{{drafter_id}}"></div>
<div id="id_projected_team_current_position" style="display:none;" current_position=""></div>


{% endblock %}
