<div class="col-xs-12 position-slot-options">
    <table class="table col-xs-12">
        <tr><th class="text-center" colspan="10"><btn id="save-position-slots" class="btn-success">Save Slots</btn></th></tr>
        <tr class="position_options" position_options_id="0"><td class="pos_slot">QB1</td></tr>
        <tr class="position_options" position_options_id="1"><td class="pos_slot">RB1</td></tr>
        <tr class="position_options" position_options_id="2"><td class="pos_slot">RB2</td></tr>
        <tr class="position_options" position_options_id="3"><td class="pos_slot">WR1</td></tr>
        <tr class="position_options" position_options_id="4"><td class="pos_slot">WR1</td></tr>
        <tr class="position_options" position_options_id="5"><td class="pos_slot">FLEX1</td></tr>
        <tr class="position_options" position_options_id="6"><td class="pos_slot">FLEX2</td></tr>
        <tr class="position_options" position_options_id="7"><td class="pos_slot">TE1</td></tr>
        <tr class="position_options" position_options_id="8"><td class="pos_slot">DEF1</td></tr>
        <tr class="position_options" position_options_id="9"><td class="pos_slot">BENCH1</td></tr>
        <tr class="position_options" position_options_id="10"><td class="pos_slot">BENCH2</td></tr>
        <tr class="position_options" position_options_id="11"><td class="pos_slot">BENCH3</td></tr>
        <tr class="position_options" position_options_id="12"><td class="pos_slot">BENCH4</td></tr>
        <tr class="position_options" position_options_id="13"><td class="pos_slot">BENCH5</td></tr>
        <tr class="position_options" position_options_id="14"><td class="pos_slot">BENCH6</td></tr>
        <tr class="position_options" position_options_id="15"><td class="pos_slot">BENCH7</td></tr>
    </table>
</div>