<div id="save_projected_team_modal" class="modal fade" tabindex="-1" role="dialog" aria-labeledby="">
    <div class="modal-dialog" role="document" style="width: 400px: margin-top: 225px">
        <div class="modal-content">
            <div class="modal-body">
                <div class="panel panel-default" style="margin-top: 10px">
                    <div class="panel-heading">
                        <big>Save Projected Team</big>
                    </div>
                    <div class="panel-body">
                        <div class="text-center" style="margin-top: 40px;">
                            <button class="btn btn-default" onclick="cancelProjectedTeam()">Cancel</button>
                            <button class="btn btn-primary" onclick="submitProjectedTeam()">Save Team</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>