{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% load mathfilters %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block extra_css %}
    <link rel='stylesheet' href="{% static 'css/draftboard.css' %}">
{% endblock %}

{% block extra_script %}
    <script src="{% static 'js/draftboard.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            startDraftBoard();
        });
    </script>
{% endblock %}

{% block content %}

{% bootstrap_messages %}
<div class='draft-container'>
    <div class=""><h2>{{ draft.draft_name }}</h2></div>
    {% csrf_token %}
    {% include 'draft/draft_manager_budgets.html' %}
    {% include 'draft/draft_board_picks.html' %}
    {% include 'draft/draft_player_filters.html' %}
    {% include 'draft/draft_player_budget.html' %}
    {% include 'draft/draft_player_watchlist.html' %}
    {% include 'draft/draft_position_slots.html' %}

</div>

{% include 'draft/draft_modal_draftplayer.html' %}
{% include 'draft/draft_modal_undraftplayer.html' %}
{% include 'draft/draft_modal_unwatchplayer.html' %}
{% include 'draft/draft_modal_saveprojectedteam.html' %}

<div id="id_current_draft" style="display:none;" current_draft_name="{{draft.draft_name}}" current_draft_id="{{draft.id}}"></div>
<div id="id_current_player" style="display:none;" current_player_id=""></div>
<div id="id_drafter" style="display:none;" drafter_id="{{drafter_id}}"></div>
<div id="id_projected_team_current_position" style="display:none;" current_position=""></div>

<script id="picks_data">{
    {% for pick in picks_by_adp %}
    "{{pick.player.id}}": {
        "name": "{{pick.player.name}}",
        "position": "{{pick.player.position}}",
        "proj_price": "{{pick.player.projected_price}}"
    }{% if not forloop.last %},{% endif %}{% endfor %}
}
</script>

{% endblock %}
