{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% load mathfilters %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block extra_css %}
    <link rel='stylesheet' href="{% static 'css/draftboard.css' %}">
{% endblock %}

{% block extra_script %}
    <script src="{% static 'js/draftboard.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            startDraftBoard();
        });
    </script>
{% endblock %}

{% block content %}

{% bootstrap_messages %}
<div class='draft-container'>
    {% csrf_token %}
    <div class="col-xs-12 draft-board">
        <table class="table col-xs-12">
            <tbody id="draft-board-header">
                <tr class="row"><td><h2>{{ draft.draft_name }}</h2></td></tr>
                <tr class="row">
                {% for manager in managers %}
                    <td class='text-center'>{{manager.short_name}}</td>
                {% endfor %}
                </tr>
                <tr class="row">
                {% for manager in managers %}
                    <td class='text-center' id="manager-budget-{{manager.id}}">{{manager.budget}}</td>
                {% endfor %}
                </tr>
            </tbody>
            <tbody class="draftboard">
                {% for round in draftboard %}
                    {% for round_num, round_dict in round.items %}
                        <tr id="draft-board-row-{{round_num}}" class="row" style="{% if not round_dict.active %}display: none;{% endif %}">
                            {% for pick_dict in round_dict.picks %}
                                <td 
                                id="draft-board-player-{{pick_dict.pick.player.id}}" 
                                roundid="{{pick_dict.round_num}}" columnid="{{pick_dict.column_num}}" 
                                managerId="{{pick_dict.manager.id}}" 
                                class='text-center draft-board-slot position-{{pick_dict.pick.player.position}}'
                                ondragover="dragoverDraft(event);" ondragleave="dragleaveDraft(event);" ondrop="dropDraft(event);">
                                {{pick_dict.pick.player.name}} (${{pick_dict.pick.price}})
                            </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-xs-5 sidebar">
        <table class="sidebar">
            <thead>
            </thead>
                <tr class="text-left ap-filter-box">
                    <td class="ap-filter-label">Player</td>
                    <td>
                        <input id="ap-filter-player" class="ap-filter-input"/>
                    </td>
                </tr>
                <tr class="text-left ap-filter-box">
                    <td class="ap-filter-label">Position</td>
                    <td>
                    <input id="ap-filter-position" class="ap-filter-input"/>
                    </td>
                </tr>
                <tr class="text-left ap-filter-box">
                    <td class="ap-filter-label">Price</td>
                    <td>
                        <input id="ap-filter-price" class="ap-filter-input"/>
                    </td>
                </tr>
                <tr class="text-left ap-filter-box">
                    <td class="ap-filter-label">Weather</td>
                    <td>
                        <input id="ap-filter-weather" class="ap-filter-input"/>
                    </td>
                </tr>
                <tr class="text-left ap-filter-box">
                    <td class="ap-filter-label">Schedule</td>
                    <td>
                        <input id="ap-filter-schedule" class="ap-filter-input"/>
                    </td>
                </tr>
                <tr class="text-left ap-filter-box">
                    <td class="ap-filter-label">OLline</td>
                    <td>
                        <input id="ap-filter-oline-ranking" class="ap-filter-input"/>
                    </td>
                </tr>
                <tr class="text-left ap-filter-box">
                    <td class="ap-filter-label">Skep</td>
                    <td>
                        <input id="ap-filter-skepticism" class="ap-filter-input"/>
                    </td>
                </tr>
                <tr class="text-left ap-filter-box">
                    <td class="ap-filter-label">Off Support</td>
                    <td>
                        <input id="ap-filter-offensive-support" class="ap-filter-input"/>
                    </td>
                </tr>
                <tr class="text-left ap-filter-box">
                    <td class="ap-filter-label">Favorite</td>
                    <td>
                        <input id="ap-filter-favorite" type="checkbox" class="ap-filter-input"></input>
                    </td>
                </tr>
                <tr class="text-left ap-filter-box">
                    <td class="ap-filter-label"></td>
                    <td class="btn btn-normal">
                        <button id="ap-filter-clear" class="ap-filter-input">Clear</button>
                    </td>
                </tr>
            <tr class="available-player-header row" >
                <td class="text-center"></td>
                <td class="text-center draft-action">D</td>
                <td class="text-center draft-action">W</td>
                <td class="text-center draft-action">B</td>
                <td class="text-center draft-attr">$</td>
                <td class="text-center draft-attr">&#9728;</td>
                <td class="text-center draft-attr">&#127752;</td>
                <td class="text-center draft-attr">OL</td>
                <td class="text-center draft-attr">SK</td>
                <td class="text-center draft-attr">OS</td>
                <td class="text-center draft-attr">&#9734;</td>
            </tr>
            {% for pick in picks_by_adp %}
                <tr class="available-player" id="available-player-{{pick.player.id}}" draft_id="{{draft.id}}" player_id="{{pick.player.id}}" position="{{pick.player.position}}"
                    draggable="true" ondragstart="cardDrag(event);" ondragend="cardDragEnd(event);"
                    proj-price="{% if pick.player.override_price %}{{pick.player.override_price}}{% else %}{{pick.player.projected_price}}{% endif %}"
                    url="{% url 'draft:draft_player' draft.id pick.player.id %}"
                    style="{% if pick.drafted %}display: none;{% endif %}">
                    <td class="available-player position-{{pick.player.position}} available-name"  onclick="handlePickClick(this, 'draft')" style="cursor: pointer;"  >{{ pick.player.name }}</td>
                    <td class="text-center draft-action" onclick="handlePickClick(this, 'draft')" style="cursor: pointer;" >
                        <span class="text-center">&check;</span>
                    </td>
                    <td class="text-center draft-action" style="cursor: pointer;" onclick="handlePickClick(this, 'watch')">
                        <span class="text-center">&#128065;</span>
                    </td>
                    <td class="text-center draft-action" style="cursor: pointer;" onclick="budgetPlayer(this)">
                        <span class="text-center">&#36;</span>
                    </td>
                    <td class="text-center available-price draft-attr"><span>{% if pick.player.override_price %}{{pick.player.override_price|floatformat:0}}{% else %}{{pick.player.projected_price|floatformat:0}}{% endif %}</span></td>
                    <td class="text-center draft-attr"
                        style="background-color: {{pick.weather_color}}"
                    ><span>{{pick.player.team.playoff_weather_score|default:"-"}}</span></td>
                    <td class="text-center draft-attr"
                        style="background-color: {{pick.schedule_color}}"
                    ><span>{{pick.early_season_rank|default:"-"}}</span></td>
                    <td class="text-center draft-attr"
                        style="background-color: {{pick.oline_color}}"
                    ><span>{{pick.player.team.oline_ranking|default:"-"}}</span></td>
                    <td class="text-center draft-attr"
                    ><input class="skepticism draft-attr" style="background-color: {{pick.skepticism_color}}" value="{{pick.player.skepticism}}"></input></td>
                    <td class="text-center draft-attr"
                        style="background-color: {{pick.offensive_support_color}}"
                    ><span>{{pick.offensive_support_rank|default:"-"}}</span></td>
                    <td class="text-center draft-attr toggle-favorite"><span class="{% if pick.player.favorite %}player-favorite{% endif %}">{% if pick.player.favorite %}&#9733;{% else %}&#9734;{% endif %}</span></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-xs-4 sidebar">
        <table>
            <tbody class="target-my-team">
                <thead>
                    <tr><th class="text-center" colspan="3"><btn id="save-budget" class="btn-success" onclick="recalculateBudget();">Recalc Budget</btn></th></tr>
                    <tr><th class="text-left" colspan="2">Budget Start:</th><th class="text-center start-budget">200</th></th></tr>
                    <tr><th class="text-left" colspan="2">Budget Remaining:</th><th class="text-center projected-budget">{{projected_remaining}}</th></th></tr>
                    <tr>
                        <th>Player</th>
                        <th>Slot</th>
                        <th>Projected $</th>
                    </tr>
                </thead>
            </tbody>
            <tbody class="my-proj-team">
                    {% for slot, pdict in new_projected_team.items %}
                        <tr 
                            id="projected-slot-{{slot}}" 
                            class="projected-slot position-{{pdict.pick.player.position}}"
                            budget-player-id="{{pdict.pick.player.id}}"
                            >
                            <td class="projected-pos">
                                <span>{{slot}}</span>
                            </td>
                            <td class="projected-name text-left">
                                {% if pdict.source == 'budgeted' %}
                                    <span class="text-danger text-center" style="cursor: pointer;" onclick="handlePickClick(this, 'unbudget');">&#10006;</span>
                                {% elif pdict.source == 'drafted' %}
                                    <span class="text-center" style="color: white;">&check;</span>
                                {% else %}
                                    <span class="text-success text-center">&#9900;</span>
                                {% endif %}
                                <span>{% if pdict.pick %}{{ pdict.pick.player.name }}{% else %}Unassigned{% endif %}</span>
                                
                            </td>
                            <td class="projected-spend text-right"><span>{{ pdict.pick.price|default:"-"}}</span></td>
                        </tr>
                    {% endfor %}
            </tbody>

        </table>
    </div>
    <div class="col-xs-3 sidebar">
        <table id="watch-list">
            <tbody>
                <tr>
                    <tr><th class="text-center" colspan="3"><span class="btn-info">WATCHLIST</span></th></tr>
                    <th colspan="2">Watchlist</th>
                    <th >{{watch_total}}</th>
                </tr>
                {% for player in watched_players %}
                    <tr player_id="{{ player.id }}">
                        <td class="watch-slot watched-player" player_id="{{player.id}}" draft_id={{draft.id}}>{{player.name}}</td>
                        <td class="text-danger text-center" style="cursor: pointer;" onclick="handlePickClick(this, 'unwatch');">&#10006;</td>
                        <td class="watch-slot" draft_id={{draft.id}}>{{player.projected_price}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <tbody class="drafted-list">
            <table>
            <!-- <table class="drafted-list" ondragover="allowDrop(event)" ondrop="cardDrop(event);"> -->
                <thead>
                    <tr><th class="text-center" colspan="3"><span class="btn-info">ALL DRAFTED</span></th></tr>
                    <th>Player</th>
                    <th>Pos</th>
                    <th></th>
                    <th>Act $</th>
                </thead>
                {% for pick in picks_by_time %}
                    <!-- <tr onclick="window.location.href='{% url 'draft:undraft_player' draft.id pick.player.id %}'"> -->
                    <tr id="drafted-player-{{pick.player.id}}" class="drafted-player" player_id="{{ pick.player.id }}" manager-id="{{ pick.manager.id }}" onclick="handlePickClick('undraft')"
                        style="{% if not pick.drafted %}display: none;{% endif %}">
                        <td player_id="{{ pick.player.id }}">{{ pick.player.name }}</td>
                        <td>{{ pick.player.position }}</td>
                        <td class="text-danger text-center" style="cursor: pointer;" onclick="handlePickClick(this, 'undraft');">&#10006;</td>
                        <td class="pick-price">{{ pick.price }}</td>
                    </tr>
                {% endfor %}
            </table>
        </tbody>
        <tbody class="my-team">
            <thead>
                <tr><th class="text-center" colspan="3"><span class="btn-warning">MY TEAM</span></th></tr>
                <th>Player</th>
                <th>Position</th>
                <th>Actual $</th>
            </thead>
            {% for pick in drafter_players %}
                <tr class="my-drafted-player" player_id="{{pick.player.id}}">
                    <td player_id="{{pick.player.id}}">{{ pick.player.name }}</td>
                    <td>{{ pick.player.position }}</td>
                    <td>{{ pick.price }}</td>
                </tr>
            {% endfor %}
        </tbody>

    </div>
    <div class="col-xs-12 position-slot-options">
        <table class="table col-xs-12">
            <tr><th class="text-center" colspan="10"><btn id="save-position-slots" class="btn-success">Save Slots</btn></th></tr>
            <tr class="position_options" position_options_id="0"><td class="pos_slot">QB1</td></tr>
            <tr class="position_options" position_options_id="1"><td class="pos_slot">RB1</td></tr>
            <tr class="position_options" position_options_id="2"><td class="pos_slot">RB2</td></tr>
            <tr class="position_options" position_options_id="3"><td class="pos_slot">WR1</td></tr>
            <tr class="position_options" position_options_id="4"><td class="pos_slot">WR1</td></tr>
            <tr class="position_options" position_options_id="5"><td class="pos_slot">FLEX1</td></tr>
            <tr class="position_options" position_options_id="6"><td class="pos_slot">FLEX2</td></tr>
            <tr class="position_options" position_options_id="7"><td class="pos_slot">TE1</td></tr>
            <tr class="position_options" position_options_id="8"><td class="pos_slot">DEF1</td></tr>
            <tr class="position_options" position_options_id="9"><td class="pos_slot">BENCH1</td></tr>
            <tr class="position_options" position_options_id="10"><td class="pos_slot">BENCH2</td></tr>
            <tr class="position_options" position_options_id="11"><td class="pos_slot">BENCH3</td></tr>
            <tr class="position_options" position_options_id="12"><td class="pos_slot">BENCH4</td></tr>
            <tr class="position_options" position_options_id="13"><td class="pos_slot">BENCH5</td></tr>
            <tr class="position_options" position_options_id="14"><td class="pos_slot">BENCH6</td></tr>
            <tr class="position_options" position_options_id="15"><td class="pos_slot">BENCH7</td></tr>
        </table>
    </div>
</div>

<div id="draft_player_modal" class="modal fade" tabindex="-1" role="dialog" aria-labeledby="">
    <div class="modal-dialog" role="document" style="width: 400px: margin-top: 225px">
        <div class="modal-content">
            <div class="modal-body">
                <div class="panel panel-default" style="margin-top: 10px">
                    <div class="panel-heading draft-player-header-container text-center">
                        <big class="draft-player-header">
                            <span class="star-icon" style="display: none;">&#9733;</span>
                            <span class="star-icon" style="display: none;">&#9733;</span>
                            <span class="star-icon" style="display: none;">&#9733;</span>
                            <span id="draft-player-header">Draft Player</span>
                            <span class="star-icon" style="display: none;">&#9733;</span>
                            <span class="star-icon" style="display: none;">&#9733;</span>
                            <span class="star-icon" style="display: none;">&#9733;</span>
                        </big>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="id_draft_current_manager">Manager</label>
                            <select id="id_draft_current_manager" class="form-control selectpicker"  data-live-search="true" data-live-search-style="startsWith" current_manager_name="">
                                {% for manager in draft.managers.all %}
                                    <option manager_id="{{manager.id}}">{{manager.short_name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="id_current_price">Price</label><input id="id_current_price" class="form-control" current_price=""></input>
                        </div>
                        <div class="form-group" style="display: none">
                            <label for="id_current_position">Position</label><input id="id_current_position" class="form-control" current_position=""></input>
                        </div>
<!-- 
                        <div class="form-group">
                            <select id="id_draft_player_position" class="form-control selectpicker"  data-live-search="true" data-live-search-style="startsWith">
                                <option draft_slot_id="unassigned">Unassigned</option>
                                {% for draft_slot in team_draft_slots %}
                                    <option draft_slot_id="{{draft_slot.0}}">{{draft_slot.1}}</option>
                                {% endfor %}
                            </select>
                        </div> -->

                        <div class="text-center" style="margin-top: 40px;">
                            <button class="btn btn-default" onclick="cancelDraftPick()">Cancel</button>
                            <button id='menu-control-draft' class="btn btn-primary menu-control" onclick="submitDraftPick()">Draft!</button>
                            <button id='menu-control-undraft' class="btn btn-primary menu-control" onclick="submitUndraftPick()">Undraft</button>
                            <button id='menu-control-watch' class="btn btn-primary menu-control" onclick="submitWatch()">Watch</button>
                        </div>
                        <div class="text-center" style="margin-top: 10px;">
                            <button id='menu-control-budget' class="btn btn-primary menu-control" onclick="submitBudgetPick()">Add to Projected Team</button>
                            <button id='menu-control-slot' class="btn btn-primary menu-control" onclick="addToPositionSlot(false, null, 'draft')">Add to Position Slot</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="undraft_player_modal" class="modal fade" tabindex="-1" role="dialog" aria-labeledby="">
    <div class="modal-dialog" role="document" style="width: 400px: margin-top: 225px">
        <div class="modal-content">
            <div class="modal-body">
                <div class="panel panel-default" style="margin-top: 10px">
                    <div class="panel-heading">
                        <big>Undraft Player</big>
                    </div>
                    <div class="panel-body">
                        <div class="text-center" style="margin-top: 40px;">
                            <button class="btn btn-default" onclick="cancelUndraftPick()">Cancel</button>
                            <button class="btn btn-primary" onclick="submitUndraftPlayer()">Undraft</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="unwatch_player_modal" class="modal fade" tabindex="-1" role="dialog" aria-labeledby="">
    <div class="modal-dialog" role="document" style="width: 400px: margin-top: 225px">
        <div class="modal-content">
            <div class="modal-body">
                <div class="panel panel-default" style="margin-top: 10px">
                    <div class="panel-heading">
                        <big>Unwatch Player</big>
                    </div>
                    <div class="panel-body">
                        <div class="text-center" style="margin-top: 40px;">
                            <button class="btn btn-default" onclick="cancelUnwatchPick()">Cancel</button>
                            <button class="btn btn-info" onclick="submitUnwatchPlayer()">Unwatch</button>
                            <button class="btn btn-primary" onclick="submitUndraftPlayer()">Undraft</button>
                        </div>
                        <div class="form-group">
                            <select id="id_unwatch_current_position" class="form-control selectpicker"  data-live-search="true" data-live-search-style="startsWith">
                                <option draft_slot_id="unassigned">Unassigned</option>
                                {% for draft_slot in team_draft_slots %}
                                    <option draft_slot_id="{{draft_slot.0}}">{{draft_slot.1}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="text-center" style="margin-top: 10px;">
                            <button class="btn btn-primary" onclick="addToProjectedTeam(false, null, 'unwatch')">Add to Projected Team</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="save_projected_team_modal" class="modal fade" tabindex="-1" role="dialog" aria-labeledby="">
    <div class="modal-dialog" role="document" style="width: 400px: margin-top: 225px">
        <div class="modal-content">
            <div class="modal-body">
                <div class="panel panel-default" style="margin-top: 10px">
                    <div class="panel-heading">
                        <big>Save Projected Team</big>
                    </div>
                    <div class="panel-body">
                        <div class="text-center" style="margin-top: 40px;">
                            <button class="btn btn-default" onclick="cancelProjectedTeam()">Cancel</button>
                            <button class="btn btn-primary" onclick="submitProjectedTeam()">Save Team</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="id_current_draft" style="display:none;" current_draft_name="{{draft.draft_name}}" current_draft_id="{{draft.id}}"></div>
<div id="id_current_player" style="display:none;" current_player_id=""></div>
<div id="id_drafter" style="display:none;" drafter_id="{{drafter_id}}"></div>
<div id="id_projected_team_current_position" style="display:none;" current_position=""></div>

<script id="picks_data">{
    {% for pick in picks_by_adp %}
    "{{pick.player.id}}": {
        "name": "{{pick.player.name}}",
        "position": "{{pick.player.position}}",
        "proj_price": "{{pick.player.projected_price}}"
    }{% if not forloop.last %},{% endif %}{% endfor %}
}
</script>

{% endblock %}
