{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block extra_css %}
    <link rel='stylesheet' href="{% static 'css/draftboard.css' %}">
{% endblock %}

{% block extra_script %}
    <script>
        function sortTable(n) {
            var $target = $(n);
            var sortField = $target.data('sort');
            var year = $('.draft-container').data('year');
            var draftid = $('.draft-container').data('draftid');
            var newLocation = `/draft/${year}/player_stats/${draftid}/?sort_by=${sortField}`;
            window.location.href = newLocation;
        }
    </script>
{% endblock %}

{% block content %}

{% bootstrap_messages %}
<div class='draft-container' data-draftid="{{ draft.id }}" data-year="{{ draft.year }}">
    {% csrf_token %}
    <div class="col-xs-12">
        <table class="table col-xs-12">
            <tbody>
                <thead>
                    <th>Player</th>
                    <th>Position</th>
                    <th>Type</th>
                    <th>Age</th>
                    <th onclick="sortTable(this)" data-sort="points">Points<span> (S)</span></th>
                    <th onclick="sortTable(this)" data-sort="projected_price">Projected Price<span> (S)</span></th>
                    <th onclick="sortTable(this)" data-sort="points_per_dollar">Pts/$<span> (S)</span></th>
                    <th>Games</th>
                    <th onclick="sortTable(this)" data-sort="games_started">Games Started<span> (S)</span></th>
                    <th onclick="sortTable(this)" data-sort="total_yards">Total Yards<span> (S)</span></th>
                    <th onclick="sortTable(this)" data-sort="rush_attempts">Rush Attempts<span> (S)</span></th>
                    <th onclick="sortTable(this)" data-sort="rush_yards">Rush Yards<span> (S)</span></th>
                    <th onclick="sortTable(this)" data-sort="targets">Targets<span> (S)</span></th>
                    <th onclick="sortTable(this)" data-sort="receptions">Receptions<span> (S)</span></th>
                    <th onclick="sortTable(this)" data-sort="receiving_yards">Receiving Yards<span> (S)</span></th>
                    <th onclick="sortTable(this)" data-sort="tds">TDs<span> (S)</span></th>
                    <th onclick="sortTable(this)" data-sort="first_downs">First Downs<span> (S)</span></th>
                </thead>
                {% for stat in player_stats %}
                <tr>
                    <td>{{ stat.player }}</td>
                    <td>{{ stat.player.position }}</td>
                    <td>{{ stat.type }}</td>
                    <td>{{ stat.age }}</td>
                    <td>{{ stat.points }}</td>
                    <td>${{ stat.player.projected_price|floatformat:0 }}</td>
                    <td>{{ stat.points_per_dollar|floatformat:1 }}</td>
                    <td>{{ stat.games }}</td>
                    <td>{{ stat.games_started }}</td>
                    <td>{{ stat.total_yards }}</td>
                    <td>{{ stat.rush_attempts }}</td>
                    <td>{{ stat.rush_yards }}</td>
                    <td>{{ stat.targets }}</td>
                    <td>{{ stat.receptions }}</td>
                    <td>{{ stat.receiving_yards }}</td>
                    <td>{{ stat.tds }}</td>
                    <td>{{ stat.first_downs }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
