.draftboard-grid {
    display: grid;
    grid-template-areas:
        "header header header"
        "sidebar main main";
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: 100px 1fr;
    gap: 10px;
    height: 100vh;
}